@import "typography";
@import "variables";

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.h2-title,
.titleH2 {
  font-family: var(--font), sans-serif;
  @include h2;
  color: var(--dark-1);
}

.p-subtitle-1 {
  @include p-subtitle-text;
}

.p-subtitle-2 {
  font-family: var(--font), sans-serif;
  @include p-subtitle-text-2;
}

ul, ol, dl {
  margin: 0;
}

@media screen and (max-width: 992px){
  .h2-title, .titleH2 {
    @include t(24, 29, 500);
  }
}


.text {

  h1 {
    @media (min-width: 1024px) {
      margin: 0 0 42px 0;
    }

    @media (max-width: 1023px) {
      margin: 0 0 16px 0;
    }
    text-align: center;
    @include h2;
    font-weight: 700;
    color: var(--dark-1);
  }

  h2 {
    margin: 0 0 28px 0;
    @include terms-text;
    color: #595959;
  }

  p {

    &:not(:last-child) {
      margin: 0 0 28px 0;
    }
  }
}