@import "typography";
@import "variables";

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.h2-title {
  font-family: 'Gotham', sans-serif;
  @include h2;
  color: var(--dark-1);
}

.p-subtitle-1 {
  @include p-subtitle-text;
}

.p-subtitle-2 {
  @include p-subtitle-text-2;
}

ul, ol, dl {
  margin: 0;
}

.text {

  h1 {
    margin: 0 0 42px 0;
    text-align: center;
    @include h2;
    font-weight: 700;
    color: var(--dark-1);
  }

  h2 {
    margin: 0 0 28px 0;
    @include terms-text;
    color: #595959;
  }

  p {

    &:not(:last-child) {
      margin: 0 0 28px 0;
    }
  }
}