@mixin t($fs, $lh: 1, $wf: 400, $ls: 0) {
  font-size: #{$fs}px;
  @if($lh == #{$lh}) {
    line-height: $lh;
  } @else {
    line-height: #{$lh}px;
  }
  font-weight: $wf;
  letter-spacing: #{$ls}px;
}

@mixin h1 {
  @include t(54, 65, 500);
}

@mixin h1-sec {
  @include t(34, 41, 700);
}

@mixin h2 {
  @include t(34, 41, 500);
}

@mixin h3 {
  @include t(22, 26, 700);
}

@mixin h4 {
  @include t(18, 120%, 500);
}

@mixin h5 {
  @include t(16, 130%, 500);
}

@mixin button-medium {
  @include t(14, 22, 500);
}

@mixin button-regular {
  @include t(16, 24);
}

@mixin p-subtitle-text {
  @include t(16, 24);
}

@mixin p-subtitle-text-2 {
  @include t(16, 130%);
}

@mixin input-hint {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@mixin price-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

@mixin price-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}


@mixin stat-num {
  font-weight: 500;
  font-size: 34px;
  line-height: 41px;
}

@mixin stat-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@mixin slide-num {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

@mixin menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

@mixin terms-text {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

@mixin footer-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
}

@mixin footer-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

@mixin faq-theme {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}

@mixin download-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin api-tab-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

@mixin quote {
  @include t(14, 22, 500);
}

@mixin card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}
