@mixin colors {
  --blue: #508FF8;
  --dark-1: #434343;
  --dark-2: #595959;
  --dark-3: #262626;
  --gray-1: #b4b4b4; //rgba(89, 89, 89, 0.6)
  --gray-2: #9b9b9b;
  --gray-3: #D9D9D9;
  --gray-4: #7d7d7d; //rgba(38, 38, 38, 0.6);
  --gray-bg: #e5e5e5;
  --red: #ff4d4f;
  --white: #ffffff;
}
