@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham/Gotham-Bold.woff2);
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham/Gotham-Book.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url(../fonts/Gotham/Gotham-Medium.woff2);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Medium.woff2);
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-Regular.woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fonts/Poppins/Poppins-SemiBold.woff2);
    font-weight: 600;
    font-display: swap;
}
